*{
    margin: 0;
    padding: 0;
    box-sizing: 0 ;
}

a{
    text-decoration: none;
}
:root{

    --primary-color:#F5cf06;
    --secondary-color: #8E4106;
    
}

body{
    height:100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-inline:64px;
    font-family: "Righteous", sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

header div{
    display: flex;
    gap: 24px;
}

header a{
    display: flex;
    align-items: center;
    gap:16px;
    height: 100%;
    font-size: 24px;
    color: var(--secondary-color);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    position: relative;
    color: white;
}

.title h1{
    font-size: 20vw;
    color: white;
    text-align: center;



}
.title span{
    font-size: 25vw;
    position: absolute;
    top: -40%; 
    left: 0;
    opacity: 0.3;
    width: 400px;

}
.container{
    display: flex;
    z-index: 1;
}

.container div{
    border: 1px ;
    width: 50%;
    color: var(--secondary-color);
}

.container h2{
    font-size: 4vw;

}

.container p{
    font-size: 1.5 vw;
    width: 40vw;
}

.action{
    display: flex;
    justify-content: end;    
}

.action a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    background-color:var(--secondary-color);
    color: white;
    font-size: 64px;
    
}


footer{
    height: 50px;
    text-align: center;
    color: var(--secondary-color);
    font-style: italic;
    text-align: center;
}

.pikachu-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 75vh;
}

@media (max-width: 1500px){
    body{
        background-color: palegreen;
    }
}
/*TABLET*/

@media (max-width: 960px){
    body{
        padding-inline: 32px;
    }
    main{
        justify-content: space-between;
    }
    .container{
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
    .container p{
        width: 80%;
    }
    .container div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    footer{
        display: none;
    }
    .pikachu-image{
        height: 50vh;
    }
}
@media (max-width: 640px){
    header div{
        display: none;
    }
    .container div{
        width: 100%;
    }
    .container p{
        display: none;
    }
    .container h2{
        font-size: 36px;
    }
    .title span{
        left: 50%;
        transform: translateX(-50%);        
    }
}